/*This code is the original work for Group 14 of Computer Science Year 3, 2022, Makerere University, Kampala Uganda for the course unit of Principles of Programming, first programming assignment
               GROUP 14 MEMBERS ARE: 
  Kabiito Kenneth       1900716471  19/U/16471/EVE
  Harold Rwothomio      1900717834  19/U/17834/EVE
  Akol David            217020007   17/U/18575
  Katwesigye Robinson   1900716593  19/U/16593/EVE */
#h{
    color: darkgoldenrod;
    font-family: calibri;
    text-align: center;
}